body {
    font-family: Arial, sans-serif;
    margin: 0px;
    font-size:16px;
}

.hidden {
    position: absolute;
    left:-10000px;
    top: auto;
}

.hidden:focus {
    left:0px;
}

header {
    background-image: url("images/lesson04-mock2-banner-image.jpg"),linear-gradient(to right,rgb(44 154 183),rgb(1, 55, 70));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    padding: 2.8rem 10rem;
    color: white;
}

h1 {
    font-size: 3rem;
    margin: 0px;
}

h2 {
    font-style: italic;
    font-weight: 400;
    font-size:1.5rem;
}

.main-nav ul {
    list-style-type: none;
    background-color: lightgray;
    padding: 1rem 10rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    font-weight: 700;
    margin: 0px;
}

.main-nav ul a {
    text-decoration: none;
    color: black;
}

.quote {
    font-weight: 200;
    color: #257F98;
}

.container {
    padding: 2.5rem 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

section {
    padding: 0rem 2rem 0rem 0rem;
}

aside {
    min-width: 30%;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
}

aside a {
    color: #257F98;
}

figure {
    margin: 0px 0px;
}

.alert-cat-image {
    width: 100%;
    max-width: 320px;
    height: auto;
}

footer {
    padding: 3rem 3rem;
    background-color: rgb(58 58 58);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

footer nav ul {
    list-style-type: none;
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    font-weight: 700;
}

footer nav ul a {
    text-decoration: none;
    color: white;
}

.inner-footer {
    display:flex;
    align-items: center;
    gap: 10px;
}

.rates-container {
    padding: 2.5rem 10rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.rates-sub-container {
    margin-left: 3rem;
    border: 3px solid orange;
    border-radius: 8px;
    padding: 20px 50px;
    box-shadow: 0 0 4px 4px rgba(255,165,0,.2)
}

.sleepy-cat-image {
    border: 1px solid gray;
    border-radius: 20%;
    width: 100%;
    max-width: 200px;
    height: auto;
}

@media (max-width: 576px) {
    aside {
        display: none;
    }
    .container, header, .main-nav ul, footer, footer nav, .inner-footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        display: block;
    }
    section {
        padding-right: 0;
    }
}

@media (max-width: 370px) {
    footer img {
        display: none;
    }
}

@media print {
    header, footer, footer nav ul a {
        background-color: white;
        color: black;
    }
    footer img {
        display: none;
    }
    figure {
        display: none;
    }
}